/* Общие стили - начало*/
body{
  font-family: 'Open Sans', sans-serif;
  color:#9aa3ba;
  font-size:16px;
  line-height: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
 .wrap{
  max-width: 1100px;
  margin:0 auto;
 }
a{
  text-decoration: none;
}
.btn-primary{
  background-color: #1085e4;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 30px;
  letter-spacing: 2.5px;
  border:1px solid #1085e4;

 
}
.btn-primary:hover{
  background-color: #fff;
  color:#1085e4;

}
.btn-secondary{
  background-color: #cbdbe8;
  color: #7e8bae;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 30px;
  letter-spacing: 2.5px;
  border:1px solid  #cbdbe8;
  
 
}
.btn-secondary:hover{
  background-color: #fff;
  }
/* Общие стили - конец*/


/* Page-header стили - начало*/
.page-header{
  background-image: url(../img/header-background.png);
  background-repeat: no-repeat;
  padding:55px 0 330px 0;
  position: relative;
  
}
.header-screen{
  position: absolute;
  right: 0px;
  top:189px;
}
.logo{
  background-image: url(../img/logo.png);
  width:181px;
  height: 49px;
  display:block;
}
.log-menu{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 300px;
}
h1{
  font-size:80px;
  font-weight: 600;
  color:#192b59;
  max-width: 540px;
  letter-spacing: -2.5px;
  line-height: 1.1;
  margin-bottom: 68px;
}

.nav{
  font-size: 12px;
  color:#6e7ea9;
  text-transform: uppercase;
  font-weight: 700;
  list-style-type:none;
  margin:0;
  padding:0;
  letter-spacing: 2.5px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  
}
.nav>li{
 
  padding:0 18px;
}
.nav>li:last-child{
  padding-right: 0;
}
.nav-item{
  color:#6e7ea9;
  
}
.btn-free{
  
  padding:21px 54px;
  font-weight:400;
  letter-spacing: 1.7px;
 }
.btn-group a+a{
  margin-left:15px;
}


/* Page-header стили - конец*/

/* Page-company стили - начало*/

.page-company{
  background-image: url(../img/company-img.png);
  background-repeat: no-repeat;
  margin-top: -17px;
  padding: 123px 0 99px;
  
}
.list-company{
  list-style-type: none;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.company-one{
  background-image: url(../img/bg_1.png);
  width:198px;
  height: 58px;
}
.company-two{
  background-image: url(../img/bg_2.png);
  width:200px;
  height: 69px;
}
.company-three{
  background-image: url(../img/bg_3.png);
  width:201px;
  height: 47px;
}
.company-four{
  background-image: url(../img/bg_4.png);
  width:200px;
  height: 69px;
}

/* Page-company стили - конец*/

/* Page-features стили - начало*/
.page-features-main{
  padding:64px 0 105px 0;
}
.page-features{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  
  
}
.page-features h3{
  font-size:20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -1px;
  color:#192b59;
}
.page-features a{
  font-size:14px;
  font-weight: 600;
  color: #50a6eb;
}
.page-features-box1{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}
.page-features-box1 .icon1{
  background-image: url(../img/icon-1.png);
  background-repeat: no-repeat;
  width: 54px;
  height: 71px;
  margin:0 auto 30px;
}
.page-features-box1 .icon2{
background-image: url(../img/icon-2.png);
background-repeat: no-repeat;
width: 70px;
height: 70px;
margin:0 auto 30px;
}

.block1,.block2,.block3,.block4,.block5,.block6{
  text-align: center;
}
.block1,.block2,.block3,.block4,.block5,.block6{
  border:1px solid rgb(224, 222, 222);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(216, 211, 211, 0.5),-4px -4px 10px rgba(216, 211, 211, 0.5);
          box-shadow: 4px 4px 10px rgba(216, 211, 211, 0.5),-4px -4px 10px rgba(216, 211, 211, 0.5);
 
  padding:50px 20px 50px 20px;
}
.page-features-box2{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
  margin-left: 50px;
 
}
.block3,.block4,.block5,.block6{
  -ms-flex-preferred-size:40%;
      flex-basis:40%;
  
}
.block7{
-ms-flex-preferred-size:100%;
    flex-basis:100%; 

}
.page-features-box2 .icon3{
background-image: url(../img/icon-3.png);
background-repeat: no-repeat;
width: 55px;
height: 70px;
margin:0 auto 30px;

}
.page-features-box2 .icon4{
background-image: url(../img/icon-4.png);
background-repeat: no-repeat;
width: 73px;
height: 70px;
margin:0 auto 30px;
}
.page-features-box2 .icon5{
background-image: url(../img/icon-5.png);
background-repeat: no-repeat;
width: 70px;
height: 70px;
margin:0 auto 30px;
}
.page-features-box2 .icon6{
background-image: url(../img/icon-6.png);
background-repeat: no-repeat;
width: 74px;
height: 70px;
margin:0 auto 30px;
}

.page-features h2{
font-size: 40px;
color: #192b59;
font-weight: 700;
letter-spacing: -1.1px;
line-height: 1.2;   
 margin-bottom: 30px;
}
.page-features h2>span{
  display:block;
  font-size:14px;
  color: #1085e4;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom:20px;
}
.block1{
  margin-bottom:30px;
}

.block3{
 
  margin-right: 30px;
  margin-bottom: 30px;
}
.block5{
  margin-right: 30px;
}
.block4{
  margin-bottom: 30px;
}
.rosalina{
  
  font-weight: 700;
}
.rosalina span{
  color: #50a6eb;
}
/* Page-features стили - конец*/



/* Page-subscribe стили - начало*/
.page-subscribe{
  background: rgb(10,32,144);
  background: -o-linear-gradient(330deg, rgba(10,32,144,1) 0%, rgba(35,119,205,1) 100%);
  background: linear-gradient(120deg, rgba(10,32,144,1) 0%, rgba(35,119,205,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a2090",endColorstr="#2377cd",GradientType=1);
  padding:54px 0 50px;
}

.page-subscribe h2{
  font-size:50px;
  font-weight: 600;
  color:#fff;
   padding-top:44px;
   letter-spacing:-1.2px;
 
  
}
.page-subscribe h2 span{
  font-size:14px;
  font-weight: 800;
  color:#00bffe;
  display:block;
  letter-spacing: 2.5px;
  text-transform: uppercase;
 }
.page-subscribe p{
  font-size: 18px;
  line-height: 28px;
  color:#dfe8ff;
}
.page-subscribe button{
  font-size:14px;
  font-weight: 700;
  color:#fff;
  background-color:1085e4;
  position: absolute;
  top:8px;
  right: 12px;
  padding:18px 44px;
}
.left-robo{
  width:500px;

  
}

.box-subscribe input[type="email"]{
  border:2px solid #b1c3ee;
  border-radius:35px;
  padding:25px 50px;
 background-color: transparent;
 display:block;
 width:100%;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
  color:white;
  font-size:16px;
}
.box-subscribe{
   width: 541px;
   position:relative;
   
 }
 .i{
   padding-top: 20px;
 }
.box-subscribe input[type="email"]:focus{
  outline:none;
}
.box-subscribe input[type="email"]::-webkit-input-placeholder{
  color: #b1c3ee;
}
.box-subscribe input[type="email"]::-moz-placeholder{
  color: #b1c3ee;
}
.box-subscribe input[type="email"]:-ms-input-placeholder{
  color: #b1c3ee;
}
.box-subscribe input[type="email"]::-ms-input-placeholder{
  color: #b1c3ee;
}
.box-subscribe input[type="email"]::placeholder{
  color: #b1c3ee;
}
.subscribe-flex{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
 
}

/* Page-subscribe стили - конец*/



/* Page-stat стили - начало*/
    
.page-stat{
  background-color: #edf6ff;
  padding: 60px 0 93px 0;
}
.page-stat h2{
color:#192b59;
font-size:50px;
line-height: 58px;
letter-spacing: -1.5px;
font-weight: 600;
text-align: center;
padding: 0 300px;

}
.page-stat h2>span{
  font-size: 16px;
  font-weight: 800;
  color:#1085e4;
  letter-spacing:2.8px;
  text-transform: uppercase;
  display:block;
  line-height: 50px;
 

}
.list-stat{
  padding-top:38px;
  list-style-type: none;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.list-stat li{
  color:#1085e4;
  font-size:12px;
  font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2.5px;
  

}
.list-stat li>span{
display:block;
color:#bacbdc;
font-size: 60px;
margin-bottom:22px;


}


/* Page-stat стили - конец*/
/* Page-preview стили - начало*/
.page-preview{
  background-color: #edf6ff;
  padding-top:68px; 
}
.box-preview{
  max-width: 1300px;
  margin:0 auto;
}
.box-preview h2{
font-size: 40px;
letter-spacing: -1.3px;
font-weight: 600;
color:#192b59;
text-align: center;
line-height: 53px;



}
.box-preview h2>span{
  display:block;
   color:#1085e4;
   font-size: 18px;
   letter-spacing: 3.5px;
   font-weight: 800;
   text-transform:uppercase;
}
.box-preview img{
  margin-top:70px;
  display:block; 
}

/* Page-preview стили - конец*/

/* Page-plan стили - начало*/

 .page-plan{
   
   padding:60px 0 128px;
 }

.page-plan h2{
  font-size: 40px;
  letter-spacing: -1.3px;
  font-weight: 600;
  color:#192b59;
  text-align: center;
  line-height: 53px;
  margin-bottom: 80px;
}
.page-plan h2>span{
  display:block;
   color:#1085e4;
   font-size: 18px;
   letter-spacing: 3.5px;
   font-weight: 800;
   text-transform:uppercase;
}
.box-price{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.box-price-item{
  text-align: center;
  background-color: #f5faff;
  padding:18px 56px 72px;
}

.box-price-item h3{
  font-size:70px;
  font-weight: 700;
  color:#000958;
  margin-bottom: 0;

}
.box-price-item h3>span{
  font-size:18px;
  

}
.box-price-item h3>span:last-child{
  color:#9fa4c6;
}
.box-price-item p{
  color:#0084ff;
  font-size:14px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.box-price-item ul{
  list-style-type:none;
  line-height: 40px;
  color:#9fa4c6;
  font-size:14px;
  padding:0;
  margin-bottom: 38px;
}

  .btn-info{
    color:#8085b1;
    background-color: transparent;
    border:1px solid #dce1e5;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 17px 58px;
    border-radius: 30px;
    letter-spacing: 2.5px;
    display:inline-block;
    
   
}
.btn-info:hover{
  color:#fff;
  background-color: #1a88e1;
}
.active{
  background-color: #192b59;
  margin: 0 30px; 
}
.active h3{
  color:#fff;
}
.active p{
  color:#fff;
}
.active ul{

 color:#fff;

}
.active .btn-primary{
  padding: 17px 58px;
  display:inline-block;
}
.active .btn-primary:hover{
background-color: transparent;
color:#fff;
}


/* Page-plan стили - конец*/


/* Page-software стили -  начало*/
.page-software{
  position: relative;
  padding:109px 0 156px 0;
}
.page-software .software-pic{

  position:absolute;
  background-image: url(../img/software-pic.png);
  width: 48%;
  height: 986px;
  background-repeat: no-repeat;
  background-size: contain;

}
.box-software{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.box-software>div{
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}
.box-software>div>h2{
  font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.page-software-list{
  margin-top: 30px;
  height: 323px;
  overflow: hidden;
  overflow-y: scroll;
}

.page-software-list::-webkit-scrollbar { width: 4px; height: 4px;}
.page-software-list::-webkit-scrollbar-button {  background-color: #1085e4; }
.page-software-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-software-list::-webkit-scrollbar-thumb { height: 50px; background-color: #1085e4; border-radius: 10px;}


.page-software-list dt{
  font-weight: 700;
  color: #5a6789;
  margin-bottom: 9px;
} 
.page-software-list dd {
  margin-left: 0;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 1.75;
  padding-right: 20px;
}
.settings-icon{
  display:block;
  background-image: url(../img/software-icon.png);
  background-repeat: no-repeat;
  background-position: -28px 0;
  width: 117px;
    height: 98px;
}



/* Page-software стили - конец*/



/* Page-app стили -  начало*/
  .page-app{
    padding: 69px 0 82px 0;
  }
  .page-app .wrap{
    position: relative;
  }
 .content-app{
   width:55%;
 }
 .content-app h2{
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
  line-height: 1.2;
  letter-spacing: -1.5px;
 }
 .page-app-text{
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c4d2dd;
  margin-top: 27px;
  margin-bottom: 20px;
  letter-spacing: 3.5px;
 }

.page-app-list{
list-style-type: none;
padding:0;
margin-left:-7px;
}
.page-app-list>li{
  display:inline-block;
}
.page-app-list>li>a{
  background-image: url(../img/app.png);
  background-repeat: no-repeat;
  display:block;
  width: 185px;
  height: 77px;
}
.page-app-list>li>a.page-app-android {
  background-position: 0 0;
}
.page-app-list>li>a.page-app-ios {
  background-position: -191px 0;
}
.video-app{
  position: absolute;
  top:-60px;
  right: -170px;;
}
/* Page-app стили - конец*/




/* Page-analytics стили -  начало*/

.page-analytics{
   background-image: url(../img/bg-analytics.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 117px 0 137px 0;
}
.page-analytics .flex-analytics{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-analytics>div{
  -ms-flex-preferred-size: 53%;
      flex-basis: 53%;
}
.flex-analytics h2{
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
  line-height: 1.2;
  letter-spacing: -1.5px;
}
.page-analytics-text{
  margin-bottom: 54px;
}



/* Page-analytics стили -  конец*/


/* Page-control стили -  начало*/


.page-control{
  background-image: url(../img/bg-control.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 117px 0 137px 0;
}
.page-control .flex-control{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-control>div{
  -ms-flex-preferred-size: 53%;
      flex-basis: 53%;
}


.flex-control h2{
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
  line-height: 1.2;
  letter-spacing: -1.5px;
}

.page-control-text{
  margin-bottom: 54px;
}
/* Page-control стили -  конец*/
 



/* Page-form стили - начало*/

.page-form{
  background-image: url(../img/bg-form.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 121px 0;
    
}
.page-form .flex-form{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin:0 auto;
  max-width:1200px;
 
}
.page-form .flex-form img{
  margin-right: 60px;
}
.flex-form>div{
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
}
.flex-form h2{
  font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.contact-form{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
margin-top:51px;
}
.contact-form .btn-primary {
  position: relative;
  padding: 22px 40px 22px 65px;
  max-width: 232px;
  letter-spacing: 2px;
}
.contact-form .btn-primary::before {
  content: '';
  background-image: url(../img/btn-plane.png);
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 54px;
  top: calc(50% - 6px);
}

.contact-form-item > input,textarea{
  border:1px solid #dce4ec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius:30px;
  outline:none;
  padding:20px 80px 25px 37px;
  width: 100%;
}
.contact-form-item{
  position: relative;
  margin-bottom:19px;
 
}
 .contact-form-name:after{
  content: '';
  background-image: url(../img/icon-name.png);
  background-repeat: no-repeat;
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 45px;
  top:20px;
}
.contact-form-email:after{
  content: '';
  background-image: url(../img/icon-email.png);
  background-repeat: no-repeat;
  display: block;
  width: 14px;
  height: 11px;
  position: absolute;
  right: 45px;
  top:20px;

}
.contact-form textarea{
 min-height: 160px;
resize: none;

}
.contact-form-text:after{
  content: '';
  background-image: url(../img/icon-pen.png);
  background-repeat: no-repeat;
  display: block;
  width: 14px;
  height: 15px;
  position: absolute;
  right: 45px;
  top:20px;
}
.contact-form-text{
  margin-bottom: 35px;
}

/* Page-form стили - конец*/

 
/* page-clients begin*/  
.title-40 {
  font-size: 40px;
  letter-spacing: -1.1px;
  font-weight: 600;
  color: #192b59;
  line-height: 1.2;
}
.page-clients {
  position: relative;
  margin-top: 120px;
  padding: 43px 0 0 0;
}
.page-clients::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/vector.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.page-clients .title-40{
  color:#fff;
}
.page-clients .title-40 span{
  display:block;
  color: #85c8ff;
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 3.5px;
  font-weight: 800;
  text-transform: uppercase;
}
.box-clients{
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 margin-top:63px; 
}
.box-clients-item {
  background-color: #fff;
  padding: 21px 42px;
  border-radius: 10px;
  -ms-flex-preferred-size: 31.5%;
      flex-basis: 31.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  -webkit-box-shadow: 0 5px 6px #f4f4f4;
          box-shadow: 0 5px 6px #f4f4f4;
}
.box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-info>div {
  padding-left: 17px;
}
.box-clients-item .position {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1085e4;
  margin-top: 0;
  letter-spacing: 3px;
}
.box-clients-item .name {
  font-size: 22px;
  font-weight: 600;
  color: #000958;
  margin-bottom: 0;
  line-height: 1.1;
  letter-spacing: -0.6px;
}
/* page-clients end*/

/* page-team begin*/  

.page-team {
  text-align: center;
  background-image: url(../img/bg-team.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 121px 0;
}
.page-team .title-40{
  color:#fff;
}
.page-team .title-40 span{
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 3.5px;
  font-weight: 800;
  color: #85c8ff;
  text-transform: uppercase;
}
.box-team {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 140px;
}

.box-team-item {
  background-color: #fff;
  
  -ms-flex-preferred-size: 31.5%;
  
      flex-basis: 31.5%;
  -webkit-box-shadow: 0 5px 6px #f4f4f4;
          box-shadow: 0 5px 6px #f4f4f4;
  position: relative;
  padding: 193px 31px 42px 31px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}
.box-team-item .avatar {
  position: absolute;
  top: -86px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 288px;
}
.box-team-item .position {
  font-size: 14px;
  text-transform: uppercase;
  color: #1a88e1;
  font-weight: 900;
  margin-bottom: 0;
  letter-spacing: 2.1px;
}
.box-team-item .name {
  font-size: 26px;
  color: #192b59;
  font-weight: 600;
  margin-top: 8px;
  letter-spacing: -0.9px;
}
.box-team-item .btn-team {
  background-color: #f3f3f3;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: none;
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.box-team-item .btn-team span {
  background-image: url(../img/btn-team.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.box-team-item .btn-more span {
  background-position: -4px -4px;
  width: 20px;
  height: 21px;
}
/* page-team end*/  


/* page-footer begin*/  
.footer {
  background-color: #192b59;
  padding: 5px 0 4px 0;
}
.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-flex>p>a {
  color: #1085e4;
  text-transform: uppercase;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
.social>li {
  margin-left: 23px;
}
.social-facebook svg {
  width: 16px;
}
.social-twitter svg {
  width: 16px;
}
.social-behance svg {
  width: 17px;
}
.social-pinterest svg {
  width: 17px;
}
.social-foursquare svg {
  width: 17px;
}
.social-link svg,
.social-twitter svg path{
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill:#fff;
}
.social-link:hover svg,
.social-twitter:hover svg path {
  fill:#1085e4;
}
/* page-footer end*/ 